{% extends "core/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container">
        <div class="">
            <h1 class="display-4">Search</h1>

            <form action="{% url "search" %}" method="get">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1"
                           name="query"
                           type="text"
                           placeholder="Search"
                           value="{{ form.query }}"
                           aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-btn btn btn-primary">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col">
                        <label>
                            <strong>Topics</strong> <br>
                            <select name="topics" class="selectpicker" multiple data-live-search="true">
                                {% for topic in topics %}
                                    <option {% if topic.pk in form.topics %}selected="selected"{% endif %}
                                            value="{{ topic.pk }}">{{ topic.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <strong>Types</strong> <br>
                            <select name="types" class="selectpicker" multiple data-live-search="true">
                                {% for type in types %}
                                    <option {% if type.0 in form.types %}selected="selected"{% endif %}
                                            value="{{ type.0 }}">{{ type.1 }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>

                <div class="mt-1 small text-muted">
                    Selecting nothing in the above filters will default to 'all'.
                </div>
            </form>

            {% if documents %}
                <div class="mt-2">
                    {% for doc in documents %}
                        {% include "core/partials/_document.html" with document=doc %}
                    {% endfor %}
                </div>

                {% if documents.paginator.num_pages > 1 %}
                    <div class="mt-4">
                        {% bootstrap_paginate documents range=10 show_first_last=True %}
                    </div>
                {% endif %}
            {% else %}
                <div class="text-muted">There were no results for your query.</div>
            {% endif %}

        </div>


    </div>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker();
    </script>
{% endblock %}

