{% extends "core/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container">
        <div class="">
            <h1 class="display-4">{{ topic.name }}</h1>

            <div class="text-muted">{{ topic.description }}</div>

            <div>
                <canvas id="topicOverview" height="90"></canvas>
            </div>

            <p class="mt-1 small">
                {% for keyword in topic.keywords.all %}
                    <span class="badge badge-secondary">{{ keyword.value }}</span>
                {% endfor %}
            </p>

            <div class="mt-2">

                {% for doc in documents_in_topic %}
                    {% include "core/partials/_document.html" with document=doc.document probability=doc.probability build_tooltip=True %}
                {% endfor %}
            </div>

            {% if documents_in_topic.paginator.num_pages > 1 %}
                <div class="mt-4">
                    {% bootstrap_paginate documents_in_topic range=10 show_first_last=True %}
                </div>
            {% endif %}

        </div>


    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        $(document).ready(function () {


            $('.document-probability').click(function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                $('.probability-tooltip').remove();

                let content = $(this).parents('.card-body').find('.tooltip-content').html();

                let element = $('<div id="probability-tooltip-overview" class="probability-tooltip shadow rounded"></div>')
                    .html(content);
                $("body").prepend(element);

                let mousex = e.pageX - 20; //Get X coordinates
                let mousey = e.pageY + 10; //Get Y coordinates
                let width = element.width();
                element.css({top: mousey, left: mousex - width}).fadeIn('slow')
            });

            $(document).click(function (e) {
                if (e.target.id !== "probability-tooltip-overview" &&
                    !$(e.target).parents("#probability-tooltip-overview").length) {
                    $("#probability-tooltip-overview").remove();
                }
            });

        });

        $(function () {

            function fillArray(value, len) {
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr.push(value);
                }
                return arr;
            }

            let statisticsData = {{ statistics.papers_per_week|safe }};
            let mixedChart = new Chart(document.getElementById("topicOverview"), {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Total Documents',
                        data: statisticsData["totals"],
                        type: 'line',
                        yAxisID: 'A',
                        borderColor: "#5380b1",
                        backgroundColor: "#5380b1",
                        fill: false
                    }, {
                        label: 'Documents in week',
                        data: statisticsData["counts"],
                        yAxisID: 'B',
                        backgroundColor: fillArray("#db6f6f", statisticsData["counts"].length)
                    }],
                    labels: statisticsData["weeks"]
                },
                options: {
                    scales: {
                        yAxes: [{
                            id: 'A',
                            type: 'linear',
                            position: 'left',
                            scaleLabel: {
                                display: true,
                                labelString: '#total documents'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }, {
                            id: 'B',
                            type: 'linear',
                            position: 'right',
                            gridLines: {
                                display: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '#documents in week'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            $(".progress").each(function () {

                let value = $(this).attr('data-value');
                let left = $(this).find('.progress-left .progress-bar');
                let right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }

            })

            function percentageToDegrees(percentage) {
                return percentage / 100 * 360
            }

        });
    </script>
{% endblock %}

