{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <h2 class="display-4">Topic List</h2>

        <div class="mt-5">
            <div class="list-group">

                {% for topic in topics %}
                    <a href="{% url "topic" id=topic.pk %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ topic.name }}</h5>
                            <small>{{ topic.documents.count }} documents</small>
                        </div>
                        <p class="mb-1">{{ topic.description }}</p>
                        <p class="mb-1 small">
                            {% for keyword in topic.keywords.all %}
                                <span class="badge badge-secondary">{{ keyword.value }}</span>
                            {% endfor %}
                        </p>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
