{% extends "core/base.html" %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container">
        <div class="">
            <h1 class="display-4">{{ topic.name }}</h1>

            <div class="text-muted">{{ topic.description }}</div>

            <div class="mt-2">

                {% for doc in documents_in_topic %}
                    {% include "core/partials/_document.html" with document=doc.document probability=doc.probability %}
                {% endfor %}
            </div>

            <div class="mt-4">
                {% bootstrap_paginate documents_in_topic range=10 show_first_last=True %}
            </div>

        </div>


    </div>

{% endblock %}

