<div class="card mb-4 box-shadow mx-5">
    <div class="card-body">

        {% if document.topic_match %}
            <div class="float-right">
                <div class="progress mx-auto" data-value='{{ document.topic_match }}'>
                    <span class="progress-left"><span class="progress-bar" style="border-color: {{ document.topic_match_color }}"></span></span>
                    <span class="progress-right"><span class="progress-bar" style="border-color: {{ document.topic_match_color }}"></span></span>
                </div>
            </div>
        {% endif %}

        <h5 class="my-0 font-weight-normal">{{ document.title }}</h5>

        <div class="text-muted small">
            <i class="fas fa-clock mr-1"></i>{{ document.date }}
        </div>

        <div class="small">
            {{ document.text }}
        </div>

        <div class="text-right">
            <a href="{{ document.url }}" class="">View</a>
        </div>
    </div>
</div>