{% load color_extras %}

<div class="card mb-2 box-shadow">
    <div class="card-body">

        {% if probability %}
            <div class="float-right">
                <div class="progress mx-auto" data-value='{{ probability|to_percent }}'>
                    <span class="progress-left"><span class="progress-bar"
                                                      style="border-color: {{ probability|to_color }}"></span></span>
                    <span class="progress-right"><span class="progress-bar"
                                                       style="border-color: {{ probability|to_color }}"></span></span>
                </div>
            </div>
        {% endif %}

        <h5 class="my-0 font-weight-normal">{{ document.title }}</h5>
        <div class="text-muted small">
            <i class="fas fa-clock mr-1"></i>{{ document.date }} &middot;
            <a href="{{ document.url }}"><i class="fas fa-external-link-alt"></i> Original resource</a>
        </div>
        <hr>


        <div class="small">
            {{ document.text }}
        </div>

        <div class="small">
            {% for tag in document.tags.all %}
                <div class="badge badge-info">{{ tag.name }}</div>
            {% endfor %}
        </div>
        <div class="text-right">
            {% for topic in document.topics.all %}
                <div class="badge badge-success">{{ topic.name }}</div>
            {% endfor %}
        </div>
    </div>
</div>